<nav class="bg-gray-800 p-4">
  <div class="container mx-auto flex justify-between items-center">
      <a href="#" class="text-white font-bold text-xl">Logo</a>
      <div class="hidden md:flex space-x-4">
          <a routerLink="home" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md">Home</a>
          <a routerLink="user" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md">User</a>
          <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md">Services</a>
          <a routerLink="signup" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md">Sign Up</a>
      </div>
  </div>     
</nav>
<div class="min-h-screen">
  <router-outlet/>
</div>
<div class="bg-blue-900 p-5 text-center text-white">
  This is footer.
</div>